@import '../componentes/colores.scss';
@import '../componentes/estilos.scss';
@import '../componentes/extends.scss';
@import '../componentes/mixins.scss';

/* como hacer para que me tome los gradiantes???!?!?! mientras tanto color "X"*/
.zona-1 {
    .encabezado {
        div {
            background-color: $zona1-nav;
            @extend %flex1;
            @include box-modeling (padding(1%));
            .dino-sucu {
                @include box-modeling (padding(1%, 0%));
                width: 120px;
                height: 120px;

                .animate__animated .animate__backInRight {
                    --animate-duration: 2s;
                }

                .animate__animated .animate__backInLeft {
                    --animate-duration: 2s;
                }

            }
        }
    }

    nav {
        div {
            .logotipo {
                visibility: hidden;
            }
            .background-nav {
                @extend %flex2;
                background-color: $zona1-nav;
                width: map-get($tall-cont, ancho1);
                height: map-get($tall-cont, alto2);
            }
        }
    }

}