@import '../componentes/colores.scss';
@import '../componentes/estilos.scss';
@import '../componentes/extends.scss';
@import '../componentes/mixins.scss';

.zona-2 {
    .presentacion {
        background-image: url(https://images.pexels.com/photos/2133092/pexels-photo-2133092.jpeg?cs=srgb&dl=pexels-quang-nguyen-vinh-2133092.jpg&fm=jpg);
        background-position: map-get($backg-img, posit);
        background-repeat: map-get($backg-img, ntrepeat);
        background-size: map-get($backg-img, size);
        width: map-get($tall-cont, ancho1);
        height: map-get($tall-cont, alto3);
        @include box-modeling (2%, 0, 50%, 0);

        div {
            h1 {
                color: map-get($color, color5);
                font-weight: map-get($f-weight, f-w1);
                text-align: map-get($dplay, txt-alg2);
                @include box-modeling3 (5%);
                font-size: map-get($f-size, talle4);
                line-height: map-get($interlin, l-height5);
            }
        }
    }
}

.zona-2-desarrollo {
    background-color: $zona2-des;

    h2 {
        color: map-get($color, color2);
        line-height: map-get($interlin, l-height);
        font-size: map-get($f-size, talle);
        font-weight: map-get($f-weight, f-w1);
        @include box-modeling (1%, 0, 1%, 3%);
    }

    p {
        color: map-get($color, color1);
        line-height: map-get($interlin, l-height2);
        font-size: map-get($f-size, talle2);
        font-style: italic;
        font-weight: map-get($f-weight, f-w3);
        @include box-modeling (0.5%, 3%);
    }
}

.zona-3 {
    background-color: $zona3;

    .autumn {
        @extend %flex3;
        background-color: $zona3-autumn;

        .temporada {
            background-image: url(https://cdn.pixabay.com/photo/2017/10/02/21/56/sheet-2810487_1280.jpg);
            opacity: 0.75;
            background-position: map-get($backg-img, posit);
            background-repeat: map-get($backg-img, ntrepeat);
            background-size: map-get($backg-img, size);
            @include box-modeling4 (10%);
            width: map-get($tall-cont, ancho1);
            height: map-get($tall-cont, alto5);

            div {
                p {
                    color: map-get($color, color3);
                    font-weight: map-get($f-weight, f-w2);
                    font-weight: map-get($f-weight, f-w1);
                    font-style: italic;
                    font-size: map-get($f-size, talle2);
                    line-height: map-get($interlin, l-height3);
                    text-align: map-get($dplay, txt-alg);
                    @include box-modeling2 (4.5%, 2%, 4.5%, 4%);
                }
            }
        }
    }
}

.zona-4 {
    background-color: $zona4;

    div {
        @extend %flex4;
        @include box-modeling (0, 2%, 4%, 2%);
        @include box-modeling2 (4%, 8%, 6%, 6%);

        h3 {
            line-height: map-get($interlin, l-height3);
            font-size: map-get($f-size, talle3);
            color: map-get($color, color4);
            text-align: center;
        }
    }
}

.zona-5 {
    background-color: $crema;

    .pasos {
        div {
            @extend %flex5;
            width: map-get($tall-cont, ancho1);
            height: map-get($tall-cont, alto1);
            @include box-modeling5 (15%);
            p {
                font-style: italic;
                font-weight: map-get($f-weight, f-w1);
                font-size: map-get($f-size, talle4);
                line-height: map-get($interlin, l-height4);
                color: map-get($color, color1);
                display: map-get($dplay, dplay1);
                text-align: map-get($dplay, txt-alg);
                @include box-modeling (5%);
            }
        }
    }

    .separador1 {
        width: map-get($tall-cont, ancho2);
        height: map-get($tall-cont, alto1);
        background-image: url(https://images.pexels.com/photos/3144214/pexels-photo-3144214.jpeg?cs=srgb&dl=pexels-cole-keister-3144214.jpg&fm=jpg);
        background-position: map-get($backg-img, posit);
        background-size: map-get($backg-img, size);
        @include box-modeling (5%);
    }
}