@import '../componentes/colores.scss';
@import '../componentes/extends.scss';
@import '../componentes/estilos.scss';
@import '../componentes/mixins.scss';

.zona-6 {
    .mini-grid {
        display: grid;
        grid-template-columns: 650px 1fr;
        grid-auto-rows: auto;
        grid-template-areas: "redes mapa";
        overflow-x: hidden;

        .redes {
            grid-area: redes;
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 3;
            width: map-get($tall-cont, ancho1);
            height: map-get($tall-cont, alto1);
            background-color: $crema;

            h3 {
                color: map-get($color, color1);
                font-weight: map-get($f-weight, f-w1);
                text-align: map-get($dplay, txt-alg);
                line-height: map-get($interlin, l-height5);
                font-size: map-get($f-size, talle5);
                @include box-modeling (8% 5%);
            }

            div {
                @extend %flex2;

                a {
                    @include box-modeling (10%);
                    align-items: map-get($dplay, txt-alg);
                }
            }
        }

        .mapa {
            grid-area: mapa;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;
            @include box-modeling (5% 10%);
            background-color: $mapa;
            width: map-get($tall-cont, ancho1);
            height: map-get($tall-cont, alto1);

            div {
                @extend %flex4;
                width: map-get($tall-cont, ancho1);
                height: map-get($tall-cont, alto1);

                h3 {
                    text-align: map-get($dplay, txt-alg);
                    color: map-get($color, color7);
                    font-style: italic;
                    @include box-modeling5 (15%);
                    @include box-modeling4 (6%);
                    line-height: map-get($interlin, l-height6);
                }

                iframe {
                    width: map-get($tall-cont, ancho3);
                    height: map-get($tall-cont, alto4);
                    @include box-modeling5 (15%);
                }
            }
        }
    }

    .pie {
        background-color: $piecito;
        line-height: map-get($interlin, l-height5);
    }

    @media only screen and (max-width:450px) {
        .mini-grid {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;

            .redes {
                h3 {
                    line-height: map-get($z6redesh3mob, l-height);
                    font-size: map-get($z6redesh3mob, f-size);
                    padding-top: map-get($z6redesh3mob, pad-top);
                }

                div {
                    a {
                        padding-left: map-get($z6redesimg, pad-left);
                        padding-top: map-get($z6redesimg, pad-top);
                    }
                }

            }

            .mapa {
                div {
                    h3 {
                        text-align: map-get($z6maph3, txt-alg);
                        line-height: map-get($z6maph3, l-height);
                        padding: map-get($z6maph3, pad);
                    }

                    iframe {
                        width: map-get($z6mapiframe, ancho);
                        height: map-get($z6mapiframe, alto);
                        margin: map-get($z6mapiframe, marg);
                        padding-bottom: map-get($z6mapiframe, pad-bot);
                    }
                }
            }
        }
    }
}