/* @media queries */

/* mobile pseudo */
$h1mob: (
    f-size: 1.4rem,
);
$h2mob: (
    f-size:1.2rem,
    f-size2: 1.5rem,
    l-height: 2rem,

);
$h3mob:(
    l-height: 3rem,
    l-height2:2.5rem,
    f-size: 1.2rem,
    f-size2: 1.5rem,
    f-size3: 1.3rem,
    f-size4: 0.5rem,
);
$h4mob:(
    l-height: 2rem,
    f-size: 1rem,
    f-size2: 1.2rem,
);
$pmob: (
    f-size: 0.8rem,
    f-size2: 1rem,
    f-size3: 0.3rem,
    l-height: 1.5rem,
    l-height2:2rem,
    l-height3:1.6rem,
);
$divz3mob: (
    ancho1: 100%,
    alto1: auto,
);
$divpz3mob: (
    f-size: 0.8rem,
    f-size2: 1rem,
    l-height: 1rem,
    l-height2:400,
    l-height3: 2rem,
    txt-alg: center,
);
$divz4mob:(
    ancho1:90%,
    alto1:100%,
);

$divpz5mob:(
    f-size: 1.5rem,
    l-height: 3rem,
);
$divimgz5mob:(
    ancho:120px,
    alto:120px,
);

$z6redesh3mob:(
    l-height: 0.5rem,
    f-size: 1.5rem,
    pad-top: 5%,
);
$z6redesimg:(
    pad-left: 10%,
    pad-top:5%,
);
$z6maph3:(
    txt-alg: center,
    l-height: 1.6rem,
    pad: 8% 0 8% 12%,
);
$z6mapiframe:(
    ancho: 80%,
    alto: 60%,
    marg: 0,
    pad-bot: 8%,
);
$ulmob:(
    l-style: circle,
    f-size: 0.8rem,
    f-size2:1rem,
    f-size3:1.2rem,
    l-height: 2,
    f-weight: 400,
);
$z4capamob:(
    f-size: 1rem,
    f-weight: 400,
    txt-alg: center,
);

$z2desmob:(
    ancho1:90%,
    alto1:auto,
);

 /* INICIA CONTACTO.HTML */


.ficha div ul li iframe {
    width: 80%;
    height: auto;
}
/* FIN CONTACTO.HTML */

