$zona1-header:rgb(243, 255, 218);
$zona1-hd2: linear-gradient(0deg, rgba(243, 255, 218, 1) 0%, rgba(221, 255, 188, 1) 100%);

$zona1-nav:#ddffbcd4;

$zona2-des:  rgb(167, 189, 145);

$zona2-des2: linear-gradient(0deg, rgba(167, 189, 145, 0.774) 2%, rgba(173, 194, 169, 0.772) 61%);

$zona3: #DDFFBC;

$zona3-autumn: rgba(255, 192, 203, 0.797);

$zona4: rgb(173, 175, 173), linear-gradient(0deg, rgba(173, 175, 173, 1) 2%, rgba(173, 194, 169, 1) 96%);

/* color zona5 y 6-redes */
$crema: #FEFFDE;

$mapa: #adc2a9c1; 

$piecito:#99A799;

/* boton */
$bnt-color: #1a47136c;
