/* estilos usando maps */
/* estilos font */
$interlin:(
    l-height: 4.2rem,
    l-height2: 2.8rem,
    l-height3: 3rem,
    l-height4: 4rem,
    l-height5: 1.6rem,
    l-height6: 2.5rem,
    l-height7: 2rem,
    l-height8: 1.8rem,
    l-height9: 5rem,
    l-height10:3.2rem,
);
$f-weight:(
    f-w1: bold,
    f-w2: 600,
    f-w3: 550,
    f-w4:500,
    f-w5: lighter,
);
$f-size:(
    talle: 1.8rem,
    talle2: 1.5rem,
    talle3: 1.2rem,
    talle4: 2.5rem,
    talle5: 2rem,
    talle6:1.6rem,
    talle7:1.4rem,
    talle8:3rem,
    talle9:1rem,
    talle10:1.1rem,
    talle11:1.3rem,

);
$dplay:( 
    dplay1: inline-block,
    txt-alg: center,
    txt-alg2:left,
    txt-deco: underline,
    txt-deco2:none,
);
/* estilo de lista */
$l-style:(
    list-stl: circle,
    list-stl2:none,
);
/* colores de fuente */
$color:(
    color1: #52734D,
    color2: #466142,
    color3:rgb(255, 255, 255),
    color4:rgb(80, 78, 78),
    color5: whitesmoke,
    color6:#172415,
    color7:green,
    color8: #DDFFBC,
    color9: #1a4713,
);
/* tamaños de divs */

$tall-cont:(
    ancho1: 100%,
    ancho2:90%,
    ancho3:80%,
    ancho4:70%,
    ancho5:45%,
    ancho6:50%,
    alto1: auto,
    alto2: 10vh,
    alto3: 20vh,
    alto4: 60%,
    alto5:100%
);
/* background-image */
$backg-img:(
    posit: center,
    posit2:bottom,
    size: cover,
    ntrepeat: no-repeat,
);
/* estilo de fuentes */
$font-stl:(
    ital: italic,
    f-styl: oblique,
);
/* bordes */
$bord:(
    bor1: 2px solid #52734D,
    bor2:4px solid #DDFFBC,
    bor-rad: 20px,
);