@mixin box-modeling ($top, $right, $bottom, $left) {
    padding: $top, $right, $bottom, $left;
}
@mixin box-modeling2 ($top, $right, $bottom, $left) {
    margin: $top, $right, $bottom, $left;
}
@mixin box-modeling3 ($modelado3) {
    padding-left: $modelado3;
    margin-top: $modelado3;
}
@mixin box-modeling4 ($modelado4) {
    padding-bottom: $modelado4;
}
@mixin box-modeling5 ($modelado5) {
    margin-right: $modelado5;
}
